<p>This is a really small cinema!</p>
<p>Let users pick seats and count them in <i>selected</i> counter.</p>
<p>Hide seats and show the final cost after user clicks <i>buy</i> button.</p>

<h3>Choose your seats</h3>

<section class="cinema">
  <button *tuiRepeatTimes="let index of 10" class="seat" (click)="seatChosen()">
    {{ index + 1 }}
  </button>
</section>

<p id="selected">Selected: {{ seatCounter$ | async }}
</p>


<button class="buy" id="btn" (click)="buying$">Buy</button>

<section class="final-cost" id="final-cost"></section>